## Clock signal
NET "clk"         LOC = "V10" | IOSTANDARD = "LVCMOS33"; 
Net "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

## Leds
NET "led_out<0>"  LOC = "U16" | IOSTANDARD = "LVCMOS33"; 
NET "led_out<1>"  LOC = "V16" | IOSTANDARD = "LVCMOS33"; 
NET "led_out<2>"  LOC = "U15" | IOSTANDARD = "LVCMOS33"; 
NET "led_out<3>"  LOC = "V15" | IOSTANDARD = "LVCMOS33"; 
NET "led_out<4>"  LOC = "M11" | IOSTANDARD = "LVCMOS33"; 
NET "led_out<5>"  LOC = "N11" | IOSTANDARD = "LVCMOS33"; 
NET "led_out<6>"  LOC = "R11" | IOSTANDARD = "LVCMOS33"; 
NET "led_out<7>"  LOC = "T11" | IOSTANDARD = "LVCMOS33"; 

## Switches
NET "led_disable" LOC = "T10" | IOSTANDARD = "LVCMOS33"; 
NET "song_enable" LOC = "T9"  | IOSTANDARD = "LVCMOS33"; 

##JA
NET "keys<4>"     LOC = "T12" | IOSTANDARD = "LVCMOS33"; 
NET "keys<0>"     LOC = "V12" | IOSTANDARD = "LVCMOS33"; 
NET "keys<5>"     LOC = "N10" | IOSTANDARD = "LVCMOS33"; 
NET "keys<1>"     LOC = "P11" | IOSTANDARD = "LVCMOS33"; 

##JB
NET "keys<6>"     LOC = "K2"  | IOSTANDARD = "LVCMOS33"; 
NET "keys<2>"     LOC = "K1"  | IOSTANDARD = "LVCMOS33"; 
NET "keys<7>"     LOC = "L4"  | IOSTANDARD = "LVCMOS33"; 
NET "keys<3>"     LOC = "L3"  | IOSTANDARD = "LVCMOS33"; 

##JD, LX16 Die only
NET "tone"        LOC = "G11" | IOSTANDARD = "LVCMOS33"; 
NET "shutdown"    LOC = "E11" | IOSTANDARD = "LVCMOS33"; 